.button{
    position: relative;
    border: 1px solid white;

    outline: none;
    height: 50px;
}

.button:before{

    content: "";
    position: absolute;
    top: 0;
    height: 102%;
    left: -25%;
    width: 0%;
    background-color: #fff;
    transform: skew(-22deg);
    transition-duration: .8s;
    z-index: 1;

}
.button:hover:before{
    width: 200%;
}

.button:hover .textButton{
    position: relative;
    transition-duration: .4s;
    color: black;
    z-index: 3;

}

