.skillsBlock{
    min-height: 100vh;
    background-color: #21242b;
    border-top: 2px solid #292c33;
    padding-bottom: 20px;
}
.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}
.title {
    background-color: cadetblue;
}
.skills{

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
}
.skillsDescription{
    width: 500px;
    font-size: 18px;
    color: #fff;

}

@media screen and (max-width: 900px){
    .skills{
        justify-content: center;
    }
}
@media screen and (max-width: 700px){
    .skillsDescription{
        width: 100%;
    }
}